    .add-button {
      background-color: rgb(255, 216, 20);
      color: black;
      border: none;
      height: 26px;
      width: 120px;
      border-radius: 18px;
      cursor: pointer;
      transition: backgroud-color 0.33
    }

    .add-button:hover {
      background-color: rgb(245, 205, 3);
    }

    .add-button:active {
      opacity: 0.7
    }

    .buy-button {
      background-color: rgb(255, 164, 28);
      color: rgb(0, 0, 0);
      border: none;
      border-radius: 18px;
      height: 26px;
      width: 100px;
      cursor: pointer;
      margin-left: 7px;
      transition: 0.33s;
    }

    .buy-button:hover {
      background-color: rgb(250, 137, 0);
    }

    .buy-button:active {
      opacity: 0.7;
    }

    .price-p {
      color: rgb(0, 118, 0);
      font-weight: bold;
      font-size: 16px
    }

    .brand-p {
      color: black;
      font-weight: bold;
      font-size: 25px
    }

    .link {

      color: rgb(0, 113, 133);
      transition: color 0.15s;
    }

    .link:hover {
      color: rgb(199, 81, 31);
    }